.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem 2rem;
}

.icons {
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navLabel {
  font-weight: 600;
  font-size: 1.2rem;
}

.navCategory {
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.navLink {
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.navLink:hover {
  background-color: #40cbc7;
}
